.root {

}

.button {
    -fx-background-color: #7B9E89;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.button:hover {
    -fx-background-color: #578F78;
}

.button:pressed {
    -fx-background-color: #3D6655;
}

